    <footer class="footer">
        <div class="footer_inner">
            <p class="creater">시스템 관련문의는 <a href="mailto:spprid@gmail.com">spprid@gmail.com</a> 로 연락바랍니다.</p>
            <p class="copyright">Copyright &copy; We`Clan All rights reserved.</p>
        </div>
    </footer>
</div>
<div class="mask"></div>
</body>
</html>