<%- include('../header')%>
<section class="content">
    <div class="rank_result">
        <div class="input_wrap">
            <input type="text" placeholder="승자 또는 패자의 아이디를 입력해주세요" />
        </div>

        <ul class="result_list">
        <li>
            <div class="inner">
                <div class="win">WIN</div>
                <div class="user">
                    <div class="kind"><img src="/images/img_unit_P.png" alt="" /></div>
                    <div class="id">Azure</div>
                </div>

                <div class="vs">
                    <p class="txt">VS</p>
                    <p class="map">투혼</p>
                    <p class="date">21.02.01</p>
                </div>

                <div class="user">
                    <div class="kind"><img src="/images/img_unit_P.png" alt="" /></div>
                    <div class="id">Father</div>
                </div>
            </div>
        </li>

        <li>
            <div class="inner">
                <div class="win">WIN</div>
                <div class="user">
                    <div class="kind"><img src="/images/img_unit_P.png" alt="" /></div>
                    <div class="id">Azure</div>
                </div>

                <div class="vs">
                    <p class="txt">VS</p>
                    <p class="map">서킷브레이커</p>
                    <p class="date">21.02.01</p>
                </div>

                <div class="user">
                    <div class="kind"><img src="/images/img_unit_Z.png" alt="" /></div>
                    <div class="id">Spear</div>
                </div>
            </div>
        </li>

        <li>
            <div class="inner">
                <div class="win">WIN</div>
                <div class="user">
                    <div class="kind"><img src="/images/img_unit_T.png" alt="" /></div>
                    <div class="id">Azure</div>
                </div>

                <div class="vs">
                    <p class="txt">VS</p>
                    <p class="map">서킷브레이커</p>
                    <p class="date">21.02.01</p>
                </div>

                <div class="user">
                    <div class="kind"><img src="/images/img_unit_P.png" alt="" /></div>
                    <div class="id">Spear</div>
                </div>
            </div>
        </li>
        </ul>
    </div>
</section>
<%- include('../footer')%>