<%- include('../header')%>
<section class="content">
    <div class="raking">
        <table class="tbl_clan">
		<thead>
		<tr>
		<th>순위</th>
		<th>아이디</th>
		<th>ELO</th>
		<th>승리</th>
		<th>패배</th>
		</tr>
		</thead>

        <tbody>
        <tr>
        <th>1</th>
        <td>Azure</td>
        <td>11</td>
        <td>22</td>
        <td>1</td>
        </tr>
        <tr>
        <th>1</th>
        <td>Azure</td>
        <td>11</td>
        <td>22</td>
        <td>1</td>
        </tr>
        </tbody>
        </table>
    </div>
</section>
<%- include('../footer')%>