<%- include('../header')%>
<section class="content">
    <div class="raking">
        <table class="tbl_rank">
        <colgroup>
        <col width="50px" />
        <col />
        <col width="60px" />
        <col width="40px" />
        <col width="40px" />
        </colgroup>
		<thead>
		<tr>
		<th>순위</th>
		<th>아이디</th>
		<th>ELO</th>
		<th>승리</th>
		<th>패배</th>
		</tr>
		</thead>

        <tbody>
        <tr>
        <td class="ord">1</td>
        <td class="user">
            <span class="kind"><img src="/images/img_unit_P.png" alt="" /></span>
            <span class="userid">We`Spear</div>
        </td>
        <td>2000</td>
        <td>22</td>
        <td>1</td>
        </tr>
        <tr>
        <td class="ord">2</td>
        <td class="user">
            <span class="kind"><img src="/images/img_unit_P.png" alt="" /></span>
            <span class="userid">We`Azure</div>
        </td>
        <td>2000</td>
        <td>22</td>
        <td>1</td>
        </tr>
        <tr>
        <td class="ord">3</td>
        <td class="user">
            <span class="kind"><img src="/images/img_unit_Z.png" alt="" /></span>
            <span class="userid">We`Spear</div>
        </td>
        <td>2000</td>
        <td>22</td>
        <td>1</td>
        </tr>
        <tr>
        <td class="ord">4</td>
        <td class="user">
            <span class="kind"><img src="/images/img_unit_T.png" alt="" /></span>
            <span class="userid">We`Spear</div>
        </td>
        <td>2000</td>
        <td>22</td>
        <td>1</td>
        </tr>
        </tbody>
        </table>
    </div>
</section>
<%- include('../footer')%>