<%- include('../header')%>
<section class="content">
    <div class="introduce">
        <h3><img src="https://static.starcraft.com/bgw/images/site/logo-starcraft-remastered-473x118.b45f817712244ea76a61191e8f4f19eca440e000.png" alt="" /></h3>
        <div class="inner">
            <p class="tit"><strong>We`Clan</strong> 은 스타크래프트 리마스터 코리아서버 클랜입니다.</p>
            <ul class="spec">
            <li>1) We`는 스타크래프트를 모두 함께, 즉 우리가 같이 즐기기 위한 목적으로 설립하였습니다.</li>
            <li>2) We`는 게임 실력보다는 인성 및 매너를 더욱 더 중요시합시다.</li>
            <li>3) We`는 오로지 추천제로만 회원을 받으며, 정해진 인원내에서 운영이 됩니다.</li>
            <li>4) We`는 BATTLE.NET Online 모임 외 Offline 모임이 활발히 일어나는 클랜입니다.</li>
            </ul>

            <div class="clan_info">
                <table class="tbl_clan">
                <colgroup>
                <col width="40%" />
                <col />
                </colgroup>
                <tbody>
                <tr>
                <th>서버/채널</th>
                <td>KOREA / OP We`</td>
                </tr>
                <tr>
                <th>클랜아이디 규칙</th>
                <td>We`ID</td>
                </tr>
                <tr>
                <th>클랜설립일</th>
                <td>2021.02.00</td>
                </tr>
                <tr>
                <th>1기 운영진</th>
                <td>
                    <ul>
                    <li>We`Spear <em>(<i class="fa fa-crown"></i> Master)</em></li>
                    <li>We`Father <em>(<i class="fa fa-chess-queen"></i> SemiMaster)</em></li>
                    <li>We`Azure <em>(<i class="fa fa-chess-knight"></i> Manager)</em></li>
                    <li>We`Mode <em>(<i class="fa fa-chess-knight"></i> Manager)</em></li>
                    <li>We`Pont <em>(<i class="fa fa-chess-knight"></i> Manager)</em></li>
                    <li>We`Steve <em>(<i class="fa fa-chess-knight"></i> Manager)</em></li>
                    <li>We`LIMDONGGYU <em>(<i class="fa fa-chess-knight"></i> Manager)</em></li>
                    </ul>
                </td>
                </tr>
                <tr>
                <th>창단멤버</th>
                <td></td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<%- include('../footer')%>