<section class="content">
    <div class="tab_area">
        <ul class="tab col4">
            <li class="active"><a href="#" data-tab="tab1"><span>공지사항</span></a></li>
            <li><a href="#" data-tab="tab2"><span>FAQ</span></a></li>
            <li><a href="#" data-tab="tab3"><span>문의사항</span></a></li>
            <li><a href="#" data-tab="tab4"><span>가입안내</span></a></li>
        </ul>

        <div class="tab_content">
            <ul class="accordion">
            <li>
                <a href="/bbs/read">공지사항입니다.
                    <span class="date">2021.01.28</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="accordion_content">
                    <p>흐흐흐흐</p>
                    <p>흐흐흐흐</p>
                    <p>흐흐흐흐</p>
                    <p>흐흐흐흐</p>
                </div>
            </li>
            <li>
                <a href="#">공지사항입니다.
                    <span class="date">2021.01.28</span>
                    <i class="fa fa-angle-down"></i>
                </a>
            </li>
            <li>
                <a href="#">공지사항입니다.
                    <span class="date">2021.01.28</span>
                    <i class="fa fa-angle-down"></i>
                </a>
            </li>
            <li>
                <a href="#">공지사항입니다.
                    <span class="date">2021.01.28</span>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            </ul>
        </div>
    </div>
</section>