<%- include('../header')%>
<section class="content">
    <div class="join_wrap">
        <div class="join_tit"><strong class="fc_yellow">We`Clan</strong> 이용약관, 개인정보 수집 및 이용에 모두 동의합니다.</div>

        <div class="terms">
            <h3>이용약관</h3>
            <div class="text">
                <div class="inner">
                    어쩌구 저쩌구
                </div>
            </div>
        </div>

        <div class="terms">
            <h3>개인정보 수집 및 이용동의</h3>
            <div class="text">
                <div class="inner">
                    어쩌구 저쩌구
                </div>
            </div>
        </div>

        <div class="input_wrap">
            <label class="input_tit">아이디<span class="req">Required</span></label>
            <input type="text" placeholder="아이디를 입력해주세요." />
            <span class="cmt">- 클랜명 We` 빼고 순수 아이디만 입력해주세요.</span>
        </div>

        <div class="input_wrap mt20">
            <label class="input_tit">비밀번호<span class="req">Required</span></label>
            <input type="password" placeholder="비밀번호를 입력해주세요." />
            <span class="cmt">- 클랜명 We` 빼고 순수 아이디만 입력해주세요.</span>
        </div>

        <div class="input_wrap mt20">
            <label class="input_tit">이름<span class="req">Required</span></label>
            <input type="text" placeholder="이름을 입력해주세요." />
        </div>

        <div class="input_wrap mt20">
            <label class="input_tit">휴대폰번호<span class="req">Required</span></label>
            <input type="text" placeholder="휴대폰번호를 입력해주세요." />
            <span class="cmt">- 이벤트 및 리그 진행 등의 이유로 연락할 수 있습니다.</span>
        </div>

        <div class="input_wrap mt20">
            <label class="input_tit">종족<span class="req">Required</span></label>
            <input type="text" placeholder="아이디를 입력해주세요." />
        </div>

        <div class="btn_full_col1 mt20">
            <a href="join" class="btn type1"><i class="fa fa-user-plus"></i>&nbsp;회원가입하기</a>
        </div>


        <div class="btn_full_col1 mt10">
            <a href="/" class="btn type2"><i class="fa fa-home"></i>&nbsp;메인화면으로 돌아가기</a>
        </div>

    </div>
</section>
<%- include('../footer')%>