<section class="content">
    <div class="login_wrap">
        <div class="login_tit"><strong class="fc_yellow">We`Clan</strong> 에 오신걸 환영합니다.</div>
        <div class="login_input_wrap">
            <input type="text" placeholder="아이디를 입력해주세요" />
        </div>
        <div class="login_input_wrap">
            <input type="password" placeholder="비밀번호를 입력해주세요" />
        </div>

        <div class="btn_full_col1 mb10">
            <a href="#" class="btn type1">로그인</a>
        </div>

        <div class="btn_full_col1 mb50">
            <a href="#" class="btn type2">회원가입</a>
        </div>

    </div>
</section>